# deps
/node_modules

# next
/.next/
/out/

# production
/build

# env
.env
.env*.local
*.env
env.env

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# local uploads (dev-only file storage fallback)
/public/uploads/
